.flex{
    display: flex;
}

.justify-center{
    
    justify-content: center;
}
.uppercase{
    
    text-transform: uppercase;
}
.flex a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.flex li:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    cursor:pointer;
            color: #555;
}
.space-between{
    justify-content: space-between;
}
.margine{
    margin-left: 15px;
    margin-right: 20px;
}
.clear{
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
}